.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 15px;
  background-color: #af3859;;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: white;
    color: #af3859;;
    border: 1px solid #af3859;;
  }

  &.google-sign-in {
    background-color:black;
    color: white;

    &:hover {
      background-color: black;
      border: none;
    }
  }
}
