$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 15px;
  color: $main-color;

  @media screen and (max-width: 1400px) {
    font-size: 12px;
    top: -9px;
  }

  @media screen and (max-width: 400px) {
    font-size: 10px;
    top: -7px;
  }
}

.less-margin {
  margin: 20px 0;

  @media screen and (max-width: 1400px) {
    margin: 12px 0;
  }
  @media screen and (max-width: 400px) {
    margin: 10px 0;
  }
}

.more-margin {
  margin: 45px 0;

  @media screen and (max-width: 1400px) {
    margin: 20px 0;
  }
  @media screen and (max-width: 400px) {
    margin: 12px 0;
  }
}

.group {
  position: relative;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 20px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 10px 0;

    @media screen and (max-width: 1400px) {
      font-size: 18px;
    }
    @media screen and (max-width: 400px) {
      font-size: 15px;
    }

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    @media screen and (max-width: 1400px) {
      font-size: 18px;
    }
    @media screen and (max-width: 400px) {
      font-size: 15px;
    }

    &.shrink {
      @include shrinkLabel();
    }
  }
}
