.add-book {
  display: flex;
  flex-direction: column;
  width: 240px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 10px 18px;

  .sign-up-form{
    text-align: center;
  }
}

