.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    width: 100%;
    height: 92vh;

    .heading {
        margin: 15px;
    }
    
    .Adding-book{
        display: flex;
        align-self: flex-start;
        margin-top: auto;

    }

}